<div class="container">
  <div>
    <h1><u>Welcome to MovieYak</u></h1>
    <h4><i>Shaving the Yak so you don't have to!</i></h4>
  </div>
  <br/>
  <div>
    <%= form_tag("/results", method: "get") do %>
      <%= select_tag(:num, options_for_select([[5], [10], [15], [20], [25]], 10)) %>
      <%= submit_tag "Get Last Weekends Box Office Results", class: "btn btn-md btn-primary" %>
    <% end %>
  </div>
  <br/>
  <div>
    <%= link_to "See Future Box Office Rankings", futures_path, class: "btn btn-md btn-primary" %>
  </div>
</div>