<div>Welcome to MovieYak</div>
<div>We Shave it so you don't have to!</div>
<div>
  <%= link_to "Last Weekends Box Office Results", root_path, class: "btn btn-md btn-primary" %>
  <%= link_to "Future Box Office Rankings", root_path, class: "btn btn-md btn-primary" %>
<div>
  <img src="http://fc02.deviantart.net/fs8/i/2005/340/6/4/Shavin___Fun_Yak_by_gloriouskyle.jpg" alt="YAK">
</div>
