<div>
  <h1>Future Box Office Rankings</h1>
</div>
<div>
  <%= link_to "MovieYak Home", root_path, class: "btn btn-md btn-primary" %>
  <%= link_to "Get Last Weekends Box Office Results", results_path, class: "btn btn-md btn-primary" %>
</div>